<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>k8s Manager</title>

{% load staticfiles  %}
<link rel="stylesheet" href="{% static 'css/style.default.css' %}" />

<script type="text/javascript" src="{% static 'js/plugins/jquery-1.7.min.js'  %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-ui-1.8.16.custom.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.cookie.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.uniform.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.slimscroll.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/custom/general.js' %}" ></script>


</head>
<body class="withvernav">
<div class="bodywrapper">
        <!--引入header-->
    {% include "header.html" %}
	<!--左侧菜单-->
	<div class="vernav2 iconmenu">
    	<ul>
        	<li><a href="#formsub" class="editor">资产概况</a>
            	<span class="arrow"></span>
            	<ul id="formsub">
               		<li><a href="forms.html">基础表单</a></li>
                    <li><a href="wizard.html">表单验证</a></li>
                    <li><a href="editor.html">编辑器</a></li>
                </ul>
            </li>
			<li><a href="#formsub" class="editor">产品线概况</a>
            	<span class="arrow"></span>
            	<ul id="formsub">
               		<li><a href="forms.html">基础表单</a></li>
                    <li><a href="wizard.html">表单验证</a></li>
                    <li><a href="editor.html">编辑器</a></li>
                </ul>
            </li>
			<li><a href="#formsub" class="editor">容器集群概况</a>
            	<span class="arrow"></span>
            	<ul id="formsub">
               		<li><a href="forms.html">基础表单</a></li>
                    <li><a href="wizard.html">表单验证</a></li>
                    <li><a href="editor.html">编辑器</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div>
	<!--内容-->
	<div class="centercontent">
        <div class="pageheader">
            <h1 class="pagetitle">控制台</h1>
            <span class="pagedesc">页面的描述内容</span>
            
            <ul class="hornav">
                <li class="current"><a href="#updates">最新更新</a></li>
                <li><a href="#activities">最近活动</a></li>
            </ul>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
			<!--第1个标签页-->
        	<div id="updates" class="subcontent">
                    <div class="notibar announcement">
                        <a class="close"></a>
                        <h3>Announcement</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
            </div>
            <!--第2个标签页-->
            <div id="activities" class="subcontent" style="display: none;">
            	&nbsp;
            </div>
        
        </div>
        <br clear="all" />
	</div>
</div>
</body>
</html>