<div id="contentwrapper" class="contentwrapper">
    <div class="contenttitle2">
        <h3>{{ title }}</h3>
    </div
    <div id="validation" class="subcontent" >
    	
            <form id="_assets" class="stdform" method="post" action="{{ formUrl }}">
                {% csrf_token %}
                <p>
                    <label>资产类型(必填)</label>
                    <span class="field">
                        {{ form.assets_type }}
                    </span>
                </p>
                <p>
                    <label>设备状态(必填)</label>
                    <span class="field">
                        {{ form.status }}
                    </span>
                </p>
                <p>
                    <label>IDC机房(可选)</label>
                    <span class="field">
                        {{ form.idc }}
                    </span>
                </p>
                <p>
                    <label>机柜号(可选)</label>
                    <span class="field">
                        {{ form.cabinet_no }}
                    </span>
                </p>
                <p>
                    <label>机柜中序号(可选)</label>

                    <span class="field">
                        {{ form.cabinet_order }}
                    </span>
                </p>
                
                <p>
                    <label>资产标签(可选)</label>
                    <span class="field">
                        {{ form.tags }}
                    </span>
                </p>

                <br />
                
                <p class="stdformbutton">
                    {{ form.id }}
                	<button class="submit radius2">确定</button>
                </p>
            </form>

    </div>
</div>

{% load staticfiles  %}
<script type="text/javascript" src="{% static 'js/product-form.js' %}" ></script>