<div class="pageheader notab">
    <h5 class="pagetitle">NFS服务器列表</h5>
    <span class="pagedesc"> </span>            
</div>
<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <!--表头-->
        <thead>
            <tr>
                <th class="head0 nosort"></th>
                <th class="head0">存储类型</th>
                <th class="head0">服务器IP</th>
                <th class="head0">共享目录</th>
                <th class="head1">服务器安装状态</th>
                <th class="head1">storage_class</th>
                <th class="head1">provisioner_name</th>
                <th class="head0">操作</th>
            </tr>
        </thead>
        <!--内容-->
        <tbody>
            {% for storage in listData %}
            <tr class="gradeX">
                <td align="center">
                    <span class="center"><input type="checkbox" value="{{ storage.id }}"/></span>
                </td>
                <td>
                   {{ storage.storage_type }}
                </td>
                <td>
                    <a href="#" onclick="installStorageEdit({{ storage.id }})">
                    {{ storage.server_ip }}
                    </a>
                </td>
                <td>{{ storage.server_path }}</td>
                <td>{{ storage.install_status }}</td>
                <td>{{ storage.storage_class }}</td>
                <td>{{ storage.provisioner_name }}</td>
                <td class="center">
                    <a href="#" onclick = "installStorageEdit({{ storage.id }})">编辑</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>