<div id="contentwrapper" class="contentwrapper">
    <div class="contenttitle2">
        <h3>{{ title }}</h3>
    </div
    <div>
        <a href="/product/version/{{ product.id }} %>">返回</a>
    </div>
    <div id="validation" class="subcontent" >
    	
            <form id="_version" class="stdform" method="post" action="{{ formUrl }}">
                {% csrf_token %}
            	<p>
                	<label>版本名称</label>
                    <span class="field">
                         {{ form.version_name }}
                    </span>
                </p>
                <p>
                    <label>版本标签</label>
                    <span class="field">
                         {{ form.tags }}
                    </span>
                </p>
            
                <p>
                    <label>版本状态</label>
                    <span class="field">
                         {{ form.version_status }}
                    </span>
                </p>

                <p>
                    <label>版本开始日期</label>
                    <span class="field">
                        {{ form.start_time }}
                    </span>
                </p>

                <p>
                    <label>版本截止日期</label>
                    <span class="field">
                        {{ form.end_time }}
                    </span>
                </p>
                <!-- 
                <p>
                    <label>版本当前环境</label>
                    <span class="field">
                        {{ form.versionEnv }}
                    </span>
                </p>
                -->
                <p>
                    <label>版本Wiki</label>
                    <span class="field">
                         {{ form.version_wiki }}
                     </span>
                </p>
                <p>
                    <label>默认负责人</label>
                    <span class="field">
                        负责人信息，会默认获取产品配置中的负责人信息，这里可以进行修改。
                    </span>
                </p>        
                <p>
                    <label>产品负责人</label>
                    <span class="field">
                          {{ form.product_manager }}
                    </span>
                </p>

                <p>
                    <label>产品负责人联系方式</label>
                    <span class="field">
                        {{ form.product_contact }}
                    </span>
                </p>

                <p>
                    <label>开发负责人</label>
                    <span class="field">
                         {{ form.dev_manager }}
                    </span>
                </p>

                <p>
                    <label>开发负责人联系方式</label>
                    <span class="field">
                         {{ form.dev_contact }}
                     </span>
                </p>

                <p>
                    <label>测试负责人</label>
                    <span class="field">
                        {{ form.qa_manager }}
                    </span>
                </p>

                <p>
                    <label>测试负责人联系方式</label>
                    <span class="field">
                        {{ form.qa_contact }}
                    </span>
                </p>

                <p>
                    <label>安全测试负责人</label>
                    <span class="field">
                         {{ form.safe_manager }}
                    </span>
                </p>

                <p>
                    <label>安全测试负责人联系方式</label>
                    <span class="field">
                        {{ form.safe_contact }}
                    </span>
                </p>

                <br />
                
                <p class="stdformbutton">
                    {{ form.id }}
                	<button class="submit radius2">确定</button>
                </p>
            </form>

    </div>
</div>

{% load staticfiles  %}
<script type="text/javascript" src="{% static 'js/product-form.js' %}" ></script>
