<div class="pageheader notab">
    <h1 class="pagetitle"> <a href="/product">产品线列表</a> / {{ product.product_name }} </h1>
    <span class="pagedesc">{{ product.product_desc }}</span>            
</div>
<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <!--表头-->
        <thead>
            <tr>
                <th class="head0 nosort"></th>
                <th class="head0">版本</th>
                <th class="head1">负责人</th>
                <th class="head1">当前状态</th>
                <th class="head1">标签</th>
                <th class="head0">开始时间</th>
                <th class="head1">结束时间</th>
                <th class="head0">操作</th>
            </tr>
        </thead>
        <!--内容-->
        <tbody>
            {% load filter_list %} 
            {% for version in listData %}
            <tr class="gradeX">
                <td align="center"><span class="center"><input type="checkbox" /></span></td>
                <td>
                    <a href="#" onclick="versionEdit({{ version.id }})">
                        {{ version.version_name }}
                    </a>     
                </td>
                <td>{{ version.product_manager}}</td>
                <td>{{ version_status_list | filter_list:version.version_status}}</td>
                <td>{{ version.tags }}</td>
                <td>{{ version.start_time }}</td>
                <td class="center">{{ version.end_time }}</td> 
                <td class="center">
                    <a href="#" onclick="productDetail(1)">详情</a> &nbsp; 
                    <a target="_blank" href="{{ version.version_wiki }}" class="delete">wiki</a> &nbsp; 
                    <a href="" class="delete">环境配置</a>
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
</div>