<div class="pageheader notab">
    <h5 class="pagetitle">k8s集群列表</h5>
    <span class="pagedesc">可以管理指定k8s集群 </span>            
</div>
<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <!--表头-->
        <thead>
            <tr>
                <th class="head0 nosort"></th>
                <th class="head0">节点IP</th>
                <th class="head1">节点域名</th>
                <th class="head1">节点类型</th>
                <th class="head0">节点角色</th>
                <th class="head0">节点状态</th>
                <th class="head0">操作</th>
            </tr>
        </thead>
        <!--内容-->
        <tbody>
            {% for cluster in listData %}
            <tr class="gradeX">
                <td align="center">
                    <span class="center"><input type="checkbox" value="{{ cluster.id }}"/></span>
                </td>
                <td>
                    <a href="#" onclick="kubeEdit({{ cluster.id }})">
                    {{ cluster.node_ip }}
                    </a>
                </td>
                <td>{{ cluster.node_domain }}</td>
                <td>{{ cluster.node_type }}</td>
                <td>{{ cluster.node_role }}</td>
                <td>未知</td>
                <td class="center">
                    <a href="/k8s/cluster/edit/{{ cluster.id }}">节点状态信息</a>
                    <a href="/kube/version/{{ kube.id }}">运行服务信息</a>
                    <a href="/kube/version/{{ kube.id }}">执行命令</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>