<div id="contentwrapper" class="contentwrapper">
    <div class="contenttitle2">
        <h3>{{ title }}</h3>
    </div
    <div id="validation" class="subcontent" >
    	
            <form id="_product" class="stdform" method="post" action="{{ formUrl }}">
                {% csrf_token %}
            	<p>
                	<label>产品名称</label>
                    <span class="field">
                        {{ form.productName }}
                    </span>
                </p>
                                    
                <p>
                    <label>产品Wiki</label>

                    <span class="field">
                        {{ form.productWiki }}
                     </span>
                </p>

                <p>
                    <label>产品负责人</label>
                    <span class="field">
                        {{ form.productManager }}
                    </span>
                </p>

                <p>
                    <label>产品负责人联系方式</label>
                    <span class="field">
                        {{ form.productContact }}
                     </span>
                </p>

                <p>
                    <label>开发负责人</label>
                    <span class="field">
                        {{ form.devManager }}
                    </span>
                </p>

                <p>
                    <label>开发负责人联系方式</label>
                    <span class="field">
                         {{ form.devContact }}
                    </span>
                </p>

                <p>
                    <label>测试负责人</label>
                    <span class="field">
                        {{ form.qaManager }}
                    </span>
                </p>

                <p>
                    <label>测试负责人联系方式</label>
                    <span class="field">
                        {{ form.qaContact }}
                    </span>
                </p>

                <p>
                    <label>安全测试负责人</label>
                    <span class="field">
                        {{ form.safeManager }}   
                    </span>
                </p>

                <p>
                    <label>安全测试负责人联系方式</label>
                    <span class="field">
                        {{ form.safeContact }}  
                    </span>
                </p>
                
                <p>
                	<label>产品描述</label>
                    <span class="field">
                          {{ form.productDesc }} 
                    </span> 
                </p>
                <!--
                <p>
                	<label>Select</label>
                    <span class="field">
                        <select name="selection" id="selection">
                        	<option value="">Choose One</option>
                            <option value="1">Selection One</option>
                            <option value="2">Selection Two</option>
                            <option value="3">Selection Three</option>
                            <option value="4">Selection Four</option>
                        </select>
                    </span>
                </p>
                -->
                <br />
                
                <p class="stdformbutton">
                    {{ form.id }} 
                	<button class="submit radius2">确定</button>
                </p>
            </form>

    </div>
</div>

{% load staticfiles  %}
<script type="text/javascript" src="{% static 'js/product-form.js' %}" ></script>
