<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>k8s Manager</title>



{% load staticfiles  %}
<link rel="stylesheet" href="{% static 'css/style.default.css' %}" />

<script type="text/javascript" src="{% static 'js/plugins/jquery-1.7.min.js'  %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-ui-1.8.16.custom.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.cookie.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.uniform.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.validate.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.tagsinput.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/ui.spinner.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/charCount.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/plugins/chosen.jquery.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/custom/general.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/custom/tables.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/websocket-install.js' %}" ></script>


</head>
<body class="withvernav">
<div class="bodywrapper">
    <!--引入header-->
    {% include "header.html" %}
	<!--左侧菜单-->
	<div class="vernav2 iconmenu">
    	<ul>
        	<li>
                <a href="#env-prepare" class="editor">环境准备(必须)</a>
                <span class="arrow"></span>
                <ul id="env-prepare">
                    {% for step in k8s_prepare %}
                       <li><a href="#" onclick="k8s_install_command({{ kube_id }},{{ step.step_id }})">{{ step.step_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#install-step" class="editor">分步安装(推荐)</a>
                <span class="arrow"></span>
                <ul id="install-step">
                    {% for step in k8s_step %}
                        <li><a href="#" onclick="k8s_install_command({{ kube_id }},{{ step.step_id }})">{{ step.step_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#install-quick" class="editor">快速安装</a>
                <span class="arrow"></span>
                <ul id="install-quick">
                    {% for step in k8s_install %}
                        <li><a href="#" onclick="k8s_install_command({{ kube_id }},{{ step.step_id }})">{{ step.step_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#install-new" class="editor">新增节点</a>
                <span class="arrow"></span>
                <ul id="install-new">
                    {% for step in k8s_new_node %}
                        <li><a href="#" onclick="k8s_install_command({{ kube_id }},{{ step.step_id }})">{{ step.step_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#install-plugins" class="editor">安装常用插件</a>
                <span class="arrow"></span>
                <ul id="install-plugins">
                    {% for step in install_plugins %}
                        <li><a href="#" onclick="k8s_install_command({{ kube_id }},{{ step.step_id }})">{{ step.step_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#install-check" class="editor">验证安装</a>
                <span class="arrow"></span>
                <ul id="install-check">
                    <li><a href="#" onclick="k8s_install_check()">验证说明</a></li>
                    {% for cmd in install_check %}
                        <li><a href="#" onclick="k8s_check_command({{ kube_id }},{{ cmd.id }})">{{ cmd.command_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div>
	<!--内容-->
    <div id="centerContent" class="centercontent tables">
        {% include "install/install.html" %}
	</div>
</div>
</body>
</html>