<div id="contentwrapper" class="contentwrapper">
    <div class="contenttitle2">
        <h3>k8s配置项管理</h3>
    </div
    <div id="validation" class="subcontent" >
    	
            <form id="_kubeConfig" class="stdform" method="post" action="{{ formUrl }}">
                {% csrf_token %}
            	<p>
                	<label>k8s集群环境名称</label>
                    <span class="field">
                        {{ form.kube_name }}
                        <a>集群唯一标识</a>
                    </span>
                </p>

                <p>
                    <label>k8s版本</label>
                    <span class="field">
                        {{ form.kube_version }}
                        <a>支持安装不同版本k8s</a>
                    </span>
                </p>

                <p>
                    <label>集群部署模式</label>
                    <span class="field">
                        {{ form.deploy_mode }}
                    </span>
                </p>

                <p>
                    <label>是否启用时钟同步</label>
                    <span class="field">
                        {{ form.ntp_enabled }}
                        <a>建议启用</a>
                    </span>
                </p>

                <p>
                    <label>免密钥配置</label>
                    <span class="field">
                        {{ form.ssh_addkey }}
                        <a>是否自动配置免密钥登陆</a>
                    </span>
                </p>

                <p style="align:center;color:blue">Kubernetes集群网路信息配置</p>
                
                <p>
                    <label>服务端口范围</label>
                    <span class="field">
                        {{ form.node_port_range }}
                        <a>Node Port Range</a>
                    </span>
                </p>

                <p>
                    <label>负载均衡VIP</label>
                    <span class="field">
                        {{ form.master_ip }}
                        <a>负载均衡服务器节点虚拟IP</a>
                    </span>
                </p>

                <p>
                    <label>Api Server</label>
                    <span class="field">
                        {{ form.kube_api_server }}
                        <a>https://负载均衡VIP:8443</a>
                    </span>
                </p>

                <p>
                    <label>集群网络插件</label>
                    <span class="field">
                        {{ form.cluster_network }}
                        <a></a>
                    </span>
                </p>

                <p>
                    <label>服务网段(Service CIDR）</label>
                    <span class="field">
                        {{ form.service_cidr }}
                        <a>注意不要与内网已有网段冲突</a>
                    </span>
                </p>

                <p>
                    <label>POD网段(Cluster CIDR）</label>
                    <span class="field">
                         {{ form.cluster_cidr }}
                         <a>注意不要与内网已有网段冲突</a>
                    </span>
                </p>

                <p>
                    <label>kubernetes服务IP</label>
                    <span class="field">
                        {{ form.cluster_k8s_svc_ip }}
                        <a>预分配，一般是Service CIDR中第一个IP</a>
                    </span>
                </p>

                <p>
                    <label>集群DNS服务IP</label>
                    <span class="field">
                        {{ form.cluster_dns_svc_ip }}
                        <a>从Service CIDR中预分配</a>
                    </span>
                </p>

                <p>
                    <label>集群DNS域名</label>
                    <span class="field">
                        {{ form.cluster_dns_domain }}
                        <a>如: cluster.local.</a>
                    </span>
                </p>

                <p>
                    <label>Master节点HostName前缀</label>
                    <span class="field">
                        {{ form.masterHostName }}
                        <a>Master节点主机名前缀,如：K8S-M1、K8S-M2、K8S-M3</a>
                    </span>
                </p>

                <p>
                    <label>集群basic auth使用的用户名</label>
                    <span class="field">
                        {{ form.basic_auth_user }}
                        <a></a>
                    </span>
                </p>
                <p>
                    <label>集群basic auth使用的密码</label>
                    <span class="field">
                        {{ form.basic_auth_pass }}
                        <a></a>
                    </span>
                </p>

                <p>
                    <label>默认二进制文件目录</label>
                    <span class="field">
                        {{ form.bin_dir }}
                        <a></a>    
                    </span>
                </p>

                <p>
                    <label>证书目录</label>
                    <span class="field">
                         {{ form.ca_dir }}
                        <a></a> 
                    </span>
                </p>

                <p>
                    <label>部署目录</label>
                    <span class="field">
                        {{ form.base_dir }}
                        <a>ansible工作目录</a> 
                    </span>
                </p>

                <p>
                    <label>集群描述</label>
                    <span class="field">
                         {{ form.kube_desc }}
                        <a></a> 
                    </span>
                </p>
               
                <br />
                
                <p class="stdformbutton">
                    {{ form.id }}
                    {{ form.deploy }}
                	<button class="submit radius2">确定</button>
                </p>
            </form>

    </div>
</div>

{% load staticfiles  %}
<script type="text/javascript" src="{% static 'js/product-form.js' %}" ></script>
