<div id="contentwrapper" class="contentwrapper">
    <div class="contenttitle2">
        <h3>k8s配置项管理</h3>
    </div
    <div id="validation" class="subcontent" >
    	
            <form id="_kubeConfig" class="stdform" method="post" action="/k8s/config">
            	<p>
                	<label>k8s集群名称</label>
                    <span class="field">
                        {{ form.kubeName }}
                        <a>集群唯一标识</a>
                    </span>
                </p>

                <p>
                    <label>k8s版本</label>
                    <span class="field">
                        {{ form.kubeVersion }}
                        <select name="kubeVersion" id="kubeVersion">
                            <option value="">请选择k8s版本</option>
                            <option value="v1.11.0">v1.11.0</option>
                        
                        </select>
                        <a>支持安装不同版本k8s</a>
                    </span>
                </p>

                <p>
                    <label>CNI版本</label>
                    <span class="field">
                        {{ form.kubeCniVersion }}
                        <select name="kubeCniVersion" id="kubeCniVersion">
                            <option value="">请选择CNI版本</option>
                            <option value="v0.7.1">v0.7.1</option>
                        </select>
                        <a>CNI版本，默认v0.7.1</a>
                    </span>
                </p>

                <p>
                    <label>etcd版本</label>
                    <span class="field">
                        {{ form.etcdVersion }}
                        <select name="etcdVersion" id="etcdVersion">
                            <option value="">请选择etcd版本</option>
                            <option value="v3.3.8">v3.3.8</option>
                          
                        </select>
                        <a>etcd版本，默认v3.3.8</a>
                    </span>
                </p>
                <p>
                    <label>Docker版本</label>
                    <span class="field">
                        {{ form.dockerVersion }}
                        <select name="dockerVersion" id="dockerVersion">
                            <option value="">请选择Docker版本</option>
                            <option value="v18.05.0-ce">v18.05.0-ce</option>
                            
                        </select>
                        <a>Docker版本，默认v18.05.0-ce</a>
                    </span>
                </p>
                <p>
                    <label>k8s网络模型</label>
                    <span class="field">
                        {{ form.netMode }}
                        <select name="netMode" id="netMode">
                            <option value="">请选择网络模型</option>
                            <option value="Calico-v3.1">Calico-v3.1</option>
                           
                        </select>
                        <a>k8s支持多种网络模型配置，默认使用Calico</a>
                    </span>
                </p>
                
                <p style="align:center">Kubernetes集群网路信息配置</p>
                
                <p>
                    <label>Cluster IP CIDR</label>
                    <span class="field">
                        {{ form.clusterIP }}
                        <a>虚拟IP</a>
                    </span>
                </p>

                <p>
                    <label>Service Cluster IP CIDR</label>
                    <span class="field">
                        {{ form.serviceClusterIP }}
                        <a>Service虚拟IP</a>
                    </span>
                </p>

                <p>
                    <label>Service DNS IP CIDR</label>
                    <span class="field">
                        {{ form.dnsIP }}
                        <a>Service DNS IP CIDR</a>
                    </span>
                </p>

                <p>
                    <label>DNS DN</label>
                    <span class="field">
                        {{ form.dnsDN }}
                        <a>DNS DN</a>
                    </span>
                </p>

                <p>
                    <label>Kubernetes API VIP</label>
                    <span class="field">
                        {{ form.apiVIP }}
                        <a>通过连接该IP和Master节点通讯</a>
                    </span>
                </p>

                <p>
                    <label>Kubernetes Ingress VIP</label>
                    <span class="field">
                         {{ form.ingressVIP }}
                         <a>Kubernetes Ingress虚拟IP</a>
                    </span>
                </p>

                <p>
                    <label>SSH用户</label>
                    <span class="field">
                        {{ form.sshUser }}
                        <a>SSH用户</a>
                    </span>
                </p>

                <p>
                    <label>SSH端口</label>
                    <span class="field">
                        {{ form.sshPort }}
                        <a>SSH端口</a>
                    </span>
                </p>

                <p>
                    <label>Master节点</label>
                    <span class="field">
                        {{ form.masterAddress }}
                        <a>支持IP、域名正则匹配</a>
                    </span>
                </p>

                <p>
                    <label>Master节点HostName前缀</label>
                    <span class="field">
                        {{ form.masterHostName }}
                        <a>Master节点主机名前缀,如：K8S-M1、K8S-M2、K8S-M3</a>
                    </span>
                </p>

                <p>
                    <label>Node节点HostName前缀</label>
                    <span class="field">
                        {{ form.nodeHostName }}
                        <a>Node节点主机名前缀,如：K8S-N1、K8S-N2、K8S-N3</a>
                    </span>
                </p>


                <p>
                    <label>etcd集群</label>
                    <span class="field">
                        {{ form.etcdAddress }}
                        <a>暂时只支持静态模式</a>    
                    </span>
                </p>

                <p>
                    <label>YAML主目录</label>
                    <span class="field">
                         {{ form.yamlDir }}
                        <a></a> 
                    </span>
                </p>

                <p>
                    <label>NodePort</label>
                    <span class="field">
                        {{ form.nodePort }}
                        <a>NodePort端口</a> 
                    </span>
                </p>

                <p>
                    <label>token</label>
                    <span class="field">
                         {{ form.kubeToken }}
                        <a>只针对token模式起作用</a> 
                    </span>
                </p>

                <p>
                    <label>负载均衡器配置</label>
                    <span class="field">
                        <select name="loadBalance" id="loadBalance">
                            <option value="">请选择负载均衡器</option>
                            <option value="LVS">LVS</option>
                            <option value="Nginx">Nginx</option>
                            <option value="HaProxy">HaProxy</option>
                        </select>
                        <a>4层负载均衡配置，当前可选lvs、nginx</a>        
                    </span>
                </p>    
                <p>
                    <label>keepalived部署</label>
                    <span class="field">
                        <input type="text" value ="<%= $kubeConfig -> {keepalivedAddress} %>" name="keepalivedAddress" id="safeContact" class="smallinput" />
                        <a>keepalived健康监测</a>  
                    </span>
                </p>
                <p>
                	<label>集群描述</label>
                    <span class="field">
                        <textarea cols="80" rows="5" name="kubeDesc" class="mediuminput" id="kubeDesc">
                        <%= $kubeConfig -> {kubeDesc} %>
                        </textarea>
                    </span> 
                </p>
               
                <br />
                
                <p class="stdformbutton">
                    <input type="hidden" value ="<%= $kubeConfig -> {id} %>" name="id" id="id"/>
                    <input type="hidden" value ="<%= $kubeConfig -> {deploy} %>" name="deploy" id="deploy"/>
                	<button class="submit radius2">确定</button>
                </p>
            </form>

    </div>
</div>

%= javascript '/js/product-form.js'
